# Default ignored files
/shelf/
/workspace.xml

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# Lokalno
.env
*.env.local
*.env.*.local
data/
notebooks/
logs/

# Frontend (Node / Vite)
node_modules/
dist/
dist-ssr/
*.local
.vite/




/rezultati-vsak-interval-vsi-indeksi/
/mapa-grafi/